{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
<div class="comments">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ ABSOLUTE_SITEURL }}/{{ article.url }}'; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ article.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//fredhusser.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>
</div>
{% endif %}